Farm-E/Web References/WebServisi/smetka.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Generate">
        <s:complexType />
      </s:element>
      <s:element name="GenerateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerateSoapIn">
    <wsdl:part name="parameters" element="tns:Generate" />
  </wsdl:message>
  <wsdl:message name="GenerateSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateResponse" />
  </wsdl:message>
  <wsdl:portType name="smetkaSoap">
    <wsdl:operation name="Generate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metod sto generira broj na poracka</wsdl:documentation>
      <wsdl:input message="tns:GenerateSoapIn" />
      <wsdl:output message="tns:GenerateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="smetkaSoap" type="tns:smetkaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Generate">
      <soap:operation soapAction="http://tempuri.org/Generate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="smetkaSoap12" type="tns:smetkaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Generate">
      <soap12:operation soapAction="http://tempuri.org/Generate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="smetka">
    <wsdl:port name="smetkaSoap" binding="tns:smetkaSoap">
      <soap:address location="http://localhost:20587/smetka.asmx" />
    </wsdl:port>
    <wsdl:port name="smetkaSoap12" binding="tns:smetkaSoap12">
      <soap12:address location="http://localhost:20587/smetka.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>